<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AOPFirstViewController</key>
	<dict>
		<key>UserEventName</key>
		<array>
			<dict>
				<key>UserEventID</key>
				<string>firstTapBottom</string>
				<key>UserEventSelectorName</key>
				<string>firstTapBottom:</string>
				<key>UserEventName</key>
				<string>bottom</string>
			</dict>
			<dict>
				<key>UserEventID</key>
				<string>firstTapTop</string>
				<key>UserEventSelectorName</key>
				<string>firstTapTop:</string>
				<key>UserEventName</key>
				<string>top</string>
			</dict>
			<dict>
				<key>UserEventID</key>
				<string>firstTapLeft</string>
				<key>UserEventSelectorName</key>
				<string>firstTapLeft:</string>
				<key>UserEventName</key>
				<string>left</string>
			</dict>
			<dict>
				<key>UserEventID</key>
				<string>firstTapRight</string>
				<key>UserEventSelectorName</key>
				<string>firstTapRight:</string>
				<key>UserEventName</key>
				<string>right</string>
			</dict>
		</array>
	</dict>
	<key>AOPSecondViewController</key>
	<dict>
		<key>UserEventName</key>
		<array>
			<dict>
				<key>UserEventID</key>
				<string>secondTapBottom</string>
				<key>UserEventSelectorName</key>
				<string>secondTapBottom:</string>
				<key>UserEventName</key>
				<string>bottom</string>
			</dict>
			<dict>
				<key>UserEventID</key>
				<string>secondTapTop</string>
				<key>UserEventSelectorName</key>
				<string>secondTapTop:</string>
				<key>UserEventName</key>
				<string>top</string>
			</dict>
			<dict>
				<key>UserEventID</key>
				<string>secondTapLeft</string>
				<key>UserEventSelectorName</key>
				<string>secondTapLeft:</string>
				<key>UserEventName</key>
				<string>left</string>
			</dict>
			<dict>
				<key>UserEventID</key>
				<string>secondTapRight</string>
				<key>UserEventSelectorName</key>
				<string>secondTapRight:</string>
				<key>UserEventName</key>
				<string>right</string>
			</dict>
		</array>
	</dict>
	<key>AOPThirdViewController</key>
	<dict>
		<key>UserEventName</key>
		<array>
			<dict>
				<key>UserEventID</key>
				<string>thirdTapBottom</string>
				<key>UserEventSelectorName</key>
				<string>thirdTapBottom:</string>
				<key>UserEventName</key>
				<string>bottom</string>
			</dict>
			<dict>
				<key>UserEventID</key>
				<string>thirdTapTop</string>
				<key>UserEventSelectorName</key>
				<string>thirdTapTop:</string>
				<key>UserEventName</key>
				<string>top</string>
			</dict>
			<dict>
				<key>UserEventID</key>
				<string>thirdTapLeft</string>
				<key>UserEventSelectorName</key>
				<string>thirdTapLeft:</string>
				<key>UserEventName</key>
				<string>left</string>
			</dict>
			<dict>
				<key>UserEventID</key>
				<string>thirdTapRight</string>
				<key>UserEventSelectorName</key>
				<string>thirdTapRight:</string>
				<key>UserEventName</key>
				<string>right</string>
			</dict>
		</array>
	</dict>
	<key>AOPFourthViewController</key>
	<dict>
		<key>UserEventName</key>
		<array>
			<dict>
				<key>UserEventID</key>
				<string>fourthTapBottom</string>
				<key>UserEventSelectorName</key>
				<string>fourthTapBottom:</string>
				<key>UserEventName</key>
				<string>bottom</string>
			</dict>
			<dict>
				<key>UserEventID</key>
				<string>fourthTapTop</string>
				<key>UserEventSelectorName</key>
				<string>fourthTapTop:</string>
				<key>UserEventName</key>
				<string>top</string>
			</dict>
			<dict>
				<key>UserEventID</key>
				<string>fourthTapLeft</string>
				<key>UserEventSelectorName</key>
				<string>fourthTapLeft:</string>
				<key>UserEventName</key>
				<string>left</string>
			</dict>
			<dict>
				<key>UserEventID</key>
				<string>fourthTapRight</string>
				<key>UserEventSelectorName</key>
				<string>fourthTapRight:</string>
				<key>UserEventName</key>
				<string>right</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
